- content_for :javascripts do
  = javascript_include_tag 'admin'

- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all'

- content_for :content do
  %aside{role: 'complementary'}
    = render 'layouts/admin/sidebar'

  %main{role: 'main'}
    = yield

= render template: "layouts/application"
