!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    = stylesheet_link_tag 'admin', media: 'all'
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

  %body
    = link_to "Skip to main content", "#skip-to-content", class: "visually-hidden"
    %h1.visually-hidden= page_title

    %header{role: 'banner'}
      .container
        = link_to root_path, class: "logo", rel: "home" do
          = image_tag 'create-glyph-logo.svg', size: '34x34'

        .navigation-wrapper
          %button.mobile-nav.js-nav-toggle{aria: {label: "Toggle Navigation"}, data: {navigation_toggle_target: '#site-nav', requires_modal: 'true'}}
            %span.visually-hidden Menu

          %nav#site-nav.is-collapsed{role: 'navigation'}
            %h1 Navigation

            %ul.site-nav
              = render "layouts/admin/navigation"

            %ul.session
              %li= link_to "Sign out", destroy_user_session_path, method: :delete

    .container
      - flash.each do |key, value|
        .flash-wrapper
          .flash{class: "flash-#{key}"}= value

      %aside{role: 'complementary'}
        = render 'layouts/admin/sidebar'

      %main{role: 'main'}
        = yield

    #js-fade-screen
    = javascript_include_tag 'admin'

