!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

  %body.pushable
    = link_to "Skip to main content", "#skip-to-content", class: "visually-hidden"
    %h1.visually-hidden= page_title
    .pusher
      .ui.huge.inverted.menu
        .header.item
          = link_to root_path, rel: "home" do
            = image_tag 'create-glyph-logo.svg', size: '34x34'
        = render "layouts/admin/navigation"
        .right.menu
          .item
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: "ui primary button"

      .ui.stackable.grid
        .four.wide.column
          .ui.vertical.fluid.massive.menu
            .item
              %b User Management
            .menu
              = active_link_to "Admins", admin_admins_path, class: "item"
              = active_link_to "Members", admin_members_path, class: "item"
        .twelve.wide.stretched.column
          .ui.segment
            - flash.each do |key, value|
              - flash_class = key == "alert" ? "negative" : "positive"
              - # TODO: Positive otherwise
              .ui.message{class: flash_class}
                %p= value

            = yield
