!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

  %body.pushable
    = link_to "Skip to main content", "#skip-to-content", class: "visually-hidden"

    .ui.sidebar.inverted.vertical.menu
      .header.item
        = link_to root_path, rel: "home" do
          = inline_svg("create-glyph-logo.svg")
        %p
          = link_to "My Profile", destroy_user_session_path, method: :delete
          &bull;
          = link_to "Sign out", destroy_user_session_path, method: :delete
      = render "layouts/admin/navigation"
      .item
        .header User Management
        .menu
          = active_link_to "Admins", admin_admins_path, class: "item"
          = active_link_to "Members", admin_members_path, class: "item"

    .ui.fixed.inverted.main.menu
      .ui.container
        %a.item.sidebar-toggle
          %i.sidebar.icon
          Menu

    .pusher
      .ui.grid.container
        .ui.left.fixed.vertical.inverted.menu
          .header.item
            = link_to root_path, rel: "home" do
              = inline_svg("create-glyph-logo.svg")
            %p
              = link_to "My Profile", destroy_user_session_path, method: :delete
              &ndash;
              = link_to "Sign out", destroy_user_session_path, method: :delete
          = render "layouts/admin/navigation"
          .item
            .header User Management
            .menu
              = active_link_to "Admins", admin_admins_path, class: "item"
              = active_link_to "Members", admin_members_path, class: "item"

        .ui.main.grid
          - flash.each do |key, value|
            .ui{class: flash_class(key)}= value

          = yield
