.authentication

  %h2= current_page_title

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "authentication-form", method: :post }) do |f|

    = f.input :email, autofocus: true
    = f.button :submit, "Send password reset instructions"

  = render "devise/shared/links"
