= simple_form_for [:admin, @user], wrapper: "horizontal", html: { class: "form-horizontal"}, url: url do |f|

  = f.input :email
  = f.input :password, hint: "Minimum is #{Rails.configuration.devise.password_length.min} characters"

  .form-actions
    = f.button :submit, class: "btn-primary"
    %span.or or
    = link_to "Cancel", admin_admins_path
