= simple_form_for [:admin, @user], wrapper: "horizontal", html: { class: "form-horizontal"} do |f|

  = f.input :email
  = f.input :role, collection: User.roles.collect {|k,v| [k.titleize, k]}
  = f.input :password, hint: "Minimum is 8 characters"

  .form-actions
    = f.button :submit
    %span.or or
    = link_to "Cancel", admin_users_path
