%h1 User Management

%table
  %thead
    %tr
      %th Email
      %th Role
      %th= link_to "New", "#"
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.role
        %td
          = link_to "Edit", "#"
          = link_to "Delete", "#"

= paginate @users