!!! 5
%html
  %head
    %title TfgTemplate
    = yield(:stylesheets)
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

  %body
    %h1 TfgTemplate

    %header{role: 'banner'}
      .container
        = link_to root_path, class: "logo", rel: "home" do
          = image_tag 'create-glyph-logo.svg', size: '34x34'

        .navigation-wrapper
          %button.mobile-nav.js-nav-toggle{aria: {label: "Toggle Navigation"}, data: {navigation_toggle_target: '#site-nav', requires_modal: 'true'}}
            %span Menu

          %nav#site-nav.is-collapsed{role: 'navigation'}
            %h1 Navigation

            - if current_user.present?
              %ul.site-nav
                - if policy(User).member_dashboard?
                  = render "layouts/member/member_navigation"
                - if policy(User).admin_dashboard?
                  = render "layouts/admin/admin_navigation"

            %ul.session
              - if current_user
                %li= link_to "Sign out", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Sign in", new_user_session_path
                %li= link_to "Sign up", new_user_registration_path

    .container
      - flash.each do |key, value|
        .flash-wrapper
          .flash{class: "flash-#{key}"}= value

      = content_for?(:content) ? yield(:content) : yield

    #js-fade-screen
    = yield(:javascripts)
    = javascript_include_tag 'easy_sign_in' if Rails.application.config.should_show_easy_login
