!!! 5
%html
  %head
    %title TfgTemplate
    - if content_for?(:stylesheets)
      = yield(:stylesheets)
    - else
      = stylesheet_link_tag 'public', media: 'all'

    = javascript_include_tag 'application'
    = javascript_include_tag 'easy_sign_in' if Rails.application.config.should_show_easy_login
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"

  %body
    %h1 TfgTemplate

    %header{role: 'banner'}
      .container
        = link_to root_path, class: "logo", rel: "home" do
          = image_tag 'create-glyph-logo.svg', size: '34x34'
        %nav{role: 'navigation'}
          %h1 Navigation

          - user_policy = UserPolicy.new(current_user, User)
          - if current_user.present?
            %ul.site-nav
              - if user_policy.admin_dashboard?
                %li= link_to "Dashboard", admin_dashboard_index_path
              - if user_policy.member_dashboard?
                %li= link_to "Dashboard", member_dashboard_index_path
              = yield(:navigation_items)
          %ul.session
            - if current_user
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign in", new_user_session_path
              %li= link_to "Sign up", new_user_registration_path

    .container
      - flash.each do |key, value|
        .flash-wrapper
          .flash{class: "flash-#{key}"}= value

      = content_for?(:content) ? yield(:content) : yield
